node_modules/
*.log
pnpm-lock.yaml


coverage/

# examples dependencies and lock
examples/**/pnpm-lock.yaml
examples/**/node_modules/

# images downloaded by client examples
examples/clients/**/*.jpg

examples/servers/firebase/
